<div layout="column" layout-fill>

    <div fxLayout="column" fxLayoutAlign="space-between" >


        <mat-nav-list *ngFor="let order of (orders | async)?.content; let i=index;">
            <a mat-list-item [routerLink]="['order', order.id]">

                <mat-icon mat-list-icon>assignment</mat-icon>
                
                <span matLine>{{order.description}}</span>
                
                <button mat-icon-button (click)="onRemove($event, order)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </a>
        </mat-nav-list>


        <mat-divider></mat-divider>

        <div fxFlex="100"  fxLayout="row" fxLayoutAlign="end end" style="margin-top: 5px;">
            <button mat-fab color="accent" aria-label="Add new order" [routerLink]="['order', 'new']">
                <mat-icon>add</mat-icon>
            </button>

            <button mat-fab color="accent" aria-label="Add new order" (click)="logout()">
                  Logout  
            </button>
           
        </div>

    </div>

</div>

